.container__big-card {
  cursor: pointer;
  width: min-content;
  display: grid;
  margin: auto;
  margin-bottom: 30px;
}

.big-card__title > h1 {
  font-size: 20px;
}

.big-card__description > p > a {
  color: grey;
}

.big-card__photo > img {
  min-width: 100%;
}
