.container__articles {
  padding: 30px 15px;
  background-color: #111111;
}

.articles__main {
  display: flex;
  place-content: center;
  margin: auto;
  gap: 20px;
}

.articles__others {
  display: grid;
  grid-template-columns: 50% 50%;
}