.container__articles {
  padding: 30px 15px;
  background-color: #111111;
}

.articles__main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  margin: auto;
  gap: 20px;
  width: min-content;
}

.articles__others {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 10px;
}